.form {
  margin-top: 100px;
  padding-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  padding-bottom: 40px;
  align-items: center;
}

.form-login {
  width: 50%;
  padding-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  padding-bottom: 40px;
  align-items: center;
  height: auto;
  margin-top: 150px;
}

.form-login h2 {
 color: #3E8675;
}

.form-card {
  background-color: #3E8675;
  border-radius: 20px;
}

.form-login-btn {
  background-color: #3E8675;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.btn-green-add-job {
  margin-left: 80px;
  margin-bottom: 30px;
}
