// Specific CSS for your home-page
.home-info {
  text-align: center;
  top: 50%;
  left: 50%;
  padding-top: 60px;
}

#home-intro {
  display: inline-block;
  width: 700px;
}

#latest-jobs h1 {
  color: #81D8CC;
  text-align: center;
  top: 50%;
  left: 50%;
  padding-top: 20px;
}

.client-recomendations {
  color: #81D8CC;
  font-size: 20px;
  text-align: center;
}

.fas {
  text-decoration: none;
  color: white;
  margin-top: 16px;
    &:hover {
      transform: scale(1.15);
      transition: 0.4s;
  }
}

#latest-jobs {
  background-image: linear-gradient(0deg, rgba(131,217,205,0.55) 0%, rgba(57,126,123,0.55) 57%), asset-url("gsw-home-image.jpg");
  background-size: cover;
  background: linear-gradient(65deg, rgba(96,219,204,0.2) 66%);
  height: 500px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.client-recomendations {
  padding: 80px;
}

.carousel-item-quote {
  text-align: center;
  color: black;
  font-size: 16px;
  padding: 12px;
}

.carousel-inner {
  text-align: center;
  padding: 10px;
}

.carousel-item {
  background-color: white;
  margin-right: 0px;
  width: 500px;
  height: 300px;
  box-shadow: -2px -2px 24px 3px rgba(199,195,199,0.82);
  border-radius: 8px;
}
