// Specific CSS for your home-page
.home-info {
  text-align: center;
  top: 50%;
  left: 50%;
  padding-top: 60px;
}

#home-intro {
  display: inline-block;
  width: 700px;
}

#latest-jobs h1 {
  color: #81D8CC;
  text-align: center;
  top: 50%;
  left: 50%;
  padding-top: 20px;
}

.client-recomendations {
  color: #81D8CC;
  font-size: 20px;
  text-align: center;
}

.fas {
  text-decoration: none;
  color: white;
  margin-top: 16px;
    &:hover {
      transform: scale(1.15);
      transition: 0.4s;
  }
}

#latest-jobs {
  background-image: linear-gradient(0deg, rgba(131,217,205,0.55) 0%, rgba(57,126,123,0.55) 57%), asset-url("gsw-home-image.jpg");
  background-size: cover;
  height: 530px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0px 22px 43px -19px rgba(0,0,0,0.9);
  z-index: 100;
}

.client-recomendations {
  padding: 80px;
  background-color: #5A9F94;
}

.carousel-item-quote {
  text-align: center;
  color: black;
  font-size: 16px;
  padding: 12px;
  background-color: white;
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.3);
  border-radius: 12px;
  height: 300px;
  margin: 20px;
}

.carousel-inner {
  height: 340px;
  width: 500px;
  margin: 0 auto;
}

.carousel-item-active {
  box-shadow: -2px -2px 24px 3px rgba(199,195,199,0.82);
  border-radius: 8px;
}

.carousel-control-prev {
  // background-color: black;
}

.carousel-control-next {
  // background-color: black;
  // margin: 0px;
}
