<h1><strong>Current Jobs</strong></h1>

 <div class="cards">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
      <div class="card job-card">
        <div class="card-body">
          <h4 class="card-title">Bid Manager - Herts - £65k</h4>
          <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
        </div>
        <div class="card-footer text-center bg-white">
          <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
        </div>
      </div>
    </div>
  </div>