<div class="footer-container">
  <div class="footer">
    <div class="footer-copyright">
      GSW Consultancy
    </div>
    <div class="login">
      <%= link_to "Employee Login", new_user_session_path %>
    </div>
  </div>
</div>
