<div class="about-banner"></div>
  <div class="about-main">
    <div id="title">
      <h1>About Us</h1>
    </div> 
    <div class="about-info">
      <p>We are a property and construction recruitment specialist that work with some of the UK's leading organisations, where we supply permanent and temporary staff at all levels.</p>
      <br>
      <p>Having operated within the property construction space for a number of years we have gained a valuable insight of the industry and continue to grow our large network of professionals.</p>
      <br>
      <p>We pride ourselves on working with you closely and ensuring we meet your demands and expectations, whilst providing a professional service.</p>
      <br>
      <p>Our expertise enable us to support start up businesses through to global organistations, providing all services that you require</p>
    </div>
  </div>