<div class="banner">
  <h1>Property & Construction Recruitment Specialists</h1>
  <i class="fas fa-caret-square-down"></i>
</div>

<div class="home-info">
  <p id="home-intro">GSW Consultancy are an independent national recruitment company designed to provide you with the best permanent & temporary professionals in the Property & Construction industry.
  <br>
  <br>
  With our many years of experience, we have built a well established and trusted network that we can share with you.
  <br>
  <br>
  Here at GSW Consultancy we pride ourselves on delivering an excellent service whilst supporting you through each recruitment process. We are able to supply you with all levels of staff from entry level through to senior appointments.
  </p>
</div>

<div class="latest-jobs">
  <h1>Latest Jobs</h1>
  <div class="cards">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
      <div class="card job-card">
        <div class="card-body">
          <h4 class="card-title">Bid Manager - Herts - £65k</h4>
          <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
        </div>
        <div class="card-footer text-center bg-white">
          <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
      <div class="card job-card">
        <div class="card-body">
          <h4 class="card-title">Bid Manager - Herts - £65k</h4>
          <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
        </div>
        <div class="card-footer text-center bg-white">
          <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
      <div class="card job-card">
        <div class="card-body">
          <h4 class="card-title">Bid Manager - Herts - £65k</h4>
          <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
        </div>
        <div class="card-footer text-center bg-white">
          <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
        </div>
      </div>
    </div>
</div>

<div class="client-recomendations">
  <h2>What our clients say</h2>
</div>