
<div class="main">
  <div id="sectors-banner">
      <h1>Sectors</h1>
  </div>
  <div class="sector-row">
    <div class="sector-column">
      <h1><strong>Construction</strong></h1>
      <p>Fit out & Interior Contractors</p>
      <p>Main & Sub Contractors</p>
      <p>Civil Engineering</p>
    </div>
    <div class="sector-column">
      <h1><strong>Housing</strong></h1>
      <p>Developers/House Builders</p>
      <p>Social Housing & Regeneration</p>
      <p>Private Housing</p>
      <p>Fire and Safety</p>
    </div>
    <div class="sector-column">
      <h1><strong>Mechanical & Electrical</strong></h1>
      <p>Design and Building Construction</p>
      <p>M&E Contractors</p>
      <p>Building Services</p>
    </div>
  </div>
</div>