.banner {
  background-image: url("gsw_banner.jpg");
  background-size: cover;
  background-position: center;
  height: 640px;
  text-align: center;
  padding: 320px;
  color: white;
}

.banner h1 {
  font-size: 36px;
}

.banner i {
  font-size: 60px;
}
