.footer {
  position: absolute;
  background-color: white;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  box-shadow: lightslategray;
  padding-top: 20px;
  min-width: 50vh;
  bottom: 0;
  // display: flex;
  height: 180px;
}

#footer-logo img {
 height: 135px;
 position: absolute;
 left: 15%;
}

.vl2 {
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  height: 150px;
  left: 50%;
  top: 0;
  padding-left: 130px;
  padding-right: 130px;
  align-items: center;
  display: table;
}

// .vl2 {
//   border-left: 2px solid lightgray;
//   height: 150px;
//   position: absolute;
//   left: 50%;
//   margin-left: -3px;
//   top: 0;
// }

.footer-container {
  position: relative;
  min-height: 50vh;
  padding: 60px;
  display: flex;
}

.footer-list {
  position: relative;
  display: flex; 
  top: 0;
  bottom: 0;
  left: 40%;
  right: 0;
  margin: auto;
}

.foot-list {
  color: gray;
  align-items: center;
  font-size: 14px;
}

ul {
  list-style: none;
}

.foot-list:hover {
  color: black;
  text-decoration: none;
}

.vl {
  border-left: 6px;
  height: 100px;
  border-color: #81D8CC;
}

.gsw-email {
  height: 135px;
  position: absolute;
  left: 35%;
  color: gray;
}