.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100px;
  border-radius: 0 0 30px 30px;
}

.navbar {
  padding: 0px;
  margin: 0px;
  padding-right: 40px;
  // position: absolute;
  z-index: 1;
  // width: 100%;
  border-radius: 0 0 30px 30px;
  opacity: 0.8;
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
}

.navbar.solid {
  background-color: #60DBCC;
  transition: background-color 0.5s ease 0s;
  box-shadow: 0 0 4px grey;
    .nav-link {
      color: #FFFFFF;
  }
}
